.menu-button {
    width: 200px;
    background-color: rgba(35, 83, 71, 0.7);
    border: 1px solid #235347;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12), inset 0px 2px 4px rgba(255, 255, 255, 0);
}

.menu-button--size-large {
    height: 350px;
}

.menu-button--size-small {
    height: 300px;
}

.menu-button__text-top,
.menu-button__text-bottom {
    color: rgba(142, 182, 155, 0.85);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
}

.menu-button__text-top {
    margin-bottom: 10px;
}